<!-- {% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">      
        <form class="p-2  bg-light border-1 border primary shadow-lg" novalidate method="post"> 
            <h3 class="card-title mb-2 text-center">Cambiar contraseña</h3>

            <div class="text-center">
                <p>Introduce tu nueva contraseña y confirmala</p>
            </div>          
            <div  id="grupo__password">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Introduce la contraseña">           
                <p class="formulario__input-error">La contraseña debe tener minimo 8 carácteres y una mayúscula y no puede estar vacio.</p>
            </div>
            <div  id="grupo__confirmPassword">
                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme su contraseña">  
                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
            </div>
            {{ mensaje }}
            {% for message in get_flashed_messages() %}
                <div class="mensaje_error_servidor" id="mensaje_error_servidor"> {{ message }}</div>
            {% endfor %}
            <div class="center">
                <button type="submit" id = "submit"class="btn btn-primary">Recuperar contraseña</button>
            </div>
        </form>
    </div>
  </div>
{% endblock %} -->