<!-- {% extends 'base.html' %}

{% block title %}Olvide mi contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">      
        <form class="p-2  bg-light border-1 border primary shadow-lg" novalidate method="post"> 
            <h3 class="card-title mb-2 text-center">Olvidé mi contraseña</h3>

            <div class="text-center">
                <h5>¿Tienes problemas para entrar?</h5>
                <p>Introduce tu correo electrónico y te enviaremos un mensaje con las instrucciones para recuperar tu cuenta</p>
            </div>          
            <div class="mb-3" id="grupo__email">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="xxx@xxx.xxx">
            </div>
            {% for message in get_flashed_messages() %}
                <div class="mensaje_error_servidor" id="mensaje_error_servidor"> {{ message }}</div>
            {% endfor %}
            <div class="center">
                <button type="submit" id = "submit"class="btn btn-primary">Recuperar contraseña</button>
            </div>
            <hr class = "me-3 ms-3">
            <div class="mb-3 text-center">
                <p>O crea una <a href="{{ url_for('auth.registro')}}">nueva cuenta</a> </p>
            </div>
        </form>
    </div>
  </div>
{% endblock %} -->